<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input type="text" (input)="onChangeLength($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>
<div>
  <label>Use Numbers</label>
  <input type="checkbox" (click)="onChangeUseNumbers()" />
</div>
<div>
  <label>Use Symbols</label>
  <input type="checkbox" (click)="onChangeUseSymbols()" />
</div>
<div>
  <button
    [disabled]="
      !(length && (includeLetters || includeNumbers || includeSymbols))
    "
    (click)="onButtonClick()"
  >
    Generate!
  </button>
</div>

<div class="icon-box" *ngIf="password">
  <h2>Your Password :</h2>
  <h4>
    {{ password }}
  </h4>
  <input [value]="password" />
</div>
